/* =============
    Base
============= */

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

.content-spacing {
    margin-top: 32px;

    @include md {
        margin-top: 50px;
    }

    @include lg {
        margin-top: 80px;
    }

    @include xl {
        margin-top: 90px;
    }
}


