/* =============
    Section 2
============= */
#section-2{
    background-color: $light-grey; 
    @include xl {
        display: grid;
        grid-template-areas: ". section-2-content .";
        grid-template-columns: auto 1200px auto;
    }
    
    #section-2-container{
        @include md{
            display: grid;
            gap: 30px;
            grid-template-columns: auto 30%;
            grid-template-areas: "text img";
            margin-left: 40px;
        }

               @include lg{
            grid-template-columns: auto auto;
            grid-template-areas: "img text";
            margin-left: 0px;
        }
            #section-2-content{
                grid-area: text;
            }

            #shoes-img{
                grid-area: img;
            }
       

 
    }

}